@model IEnumerable<PIS.Models.Person>

@{
    ViewData["Title"] = "Kişi Listesi";
}

<h1>Kişi Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Kişi Ekle</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Arama: <input type="text" name="query" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Ara" class="btn btn-default" /> |
            <a asp-action="Index">Tüm Listeyi Göster</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
